.modal-blueButton {
  width: 100px;
  height: 59px;
  margin-right: 25px !important;
  background-color: #00bfff !important;
}

.modal-container {
  width: 500px; 
  height: 100px;
  text-align:center;
}

.modal-title {
  text-align:center;
  border: 1px solid gray;
  margin-bottom:10px !important;
}