.options {
    padding-top: 5rem;
}

.optionsLink {
    position: absolute;
    transform: translateX(-25rem);
}

.buttons{
    height: 3rem;
}

.button {
    font-weight: bold !important;
    background-color: #00bfff !important;
    color: white !important;
}