.options {
    padding-top: 5rem;
}

.optionsLink {
    margin-right: 3rem;
}

.buttons{
    height: 3rem;
    width: 30rem !important;
}

.button {
    font-weight: bold !important;
    background-color: #00bfff !important;
    color: white !important;
}

.activeButton {
    font-weight: bold !important;
    background-color: black !important;
    color: white !important;
}

body{
    overflow-x:hidden;
}