.PolicyHeader{
    padding-top:5rem;
    font-weight: bold !important;
}

.PolicyTitle {
    width: 80%;
    padding-top: 0.5em;
}

.PolicyContent{
    display: block;
    width: 80%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.border {
    border-bottom: 2px solid rgb(207, 205, 205);
}

.bold{
    font-weight: bold !important;
}