.dental-modal-header {
  padding-bottom: 1.65em;
  letter-spacing: 0.1rem !important;
  font-weight: 800 !important;
  font-size: 1.8rem !important;
}

.dental-profile-datatable {
  margin-bottom: 2rem;
  margin-left: 1rem;
  white-space: pre-line;
}

.dental-profile-modal-profile {
  display: inline-flex;
  margin: 1rem !important;
  padding: 6px 16px;
}

.textfield {
  width: 100%;
}

.dental-modal-blueButton {
  width: 150px;
  height: 44px !important;
  background-color: #00bfff !important;
  margin: 1rem !important;
}

/* .container1 {
} */

.container2 {
  height: 6rem;
  line-height: normal;
}

.temp-profile-asterisk {
  color: red;
}

.dental-modal-clearButton {
  border: 1px solid white !important;
  color:white !important;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: 0px !important ;
  background-color: transparent;
  width: 170px;
  height: 44px;
  margin-left: 7px !important;
  margin-right: 7px !important ;
  font-weight: 900px;
  font-size: 0.8rem;
}

.modal-login-blueButton {
  width: 100px;
  height: 59px;
  margin-right: 25px !important;
  background-color: #00bfff !important;
  border: 1px solid lightgray; 
  color:white !important;
}

.modal-register-blueButton {
  width: 100px;
  height: 59px;
  margin-right: 25px !important;
  border: 1px solid lightgray !important;
  background-color: white !important;
}

.dental-modal-container1 {
  height: 100% !important;
}

.dental-modal-container2 {
  width: 100%; 
  height: 100%;
  padding: 20px !important;
}

.modal-title {
  text-align:center;
  padding-bottom: 10px;
  color:gray;
  font-size:14pt;
  border-bottom: 1px solid lightgray; 
  border-radius:2px !important;
  margin-bottom:20px !important;
}
.MuiDialog-root {
  bottom:350px !important;
}

.modal-blueButton {
  background-color: #00bfff !important;
  border: 1px solid lightgray;
  color: white !important;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: 0px !important;
  width: 170px;
  height: 44px;
  margin-left: 7px !important;
  margin-right: 7px !important ;
  border: 0px;
  font-size: 0.8rem;
  font-weight: 900px;
}

.modal-clearButton {
  border: 1px solid white !important;
  color:white !important;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: 0px !important ;
  background-color: transparent;
  width: 170px;
  height: 44px;
  margin-left: 7px !important;
  margin-right: 7px !important ;
  font-weight: 900px;
  font-size: 0.8rem;
}