.header1 {
    padding-top: 5rem;
    padding-bottom: 1.65em;
    letter-spacing: 0.1rem !important;
    font-weight: 800 !important;
    font-size: 1.8rem !important;
}

.profile {
    width: 60%;
    margin: auto;
}

.textfield {
    width: 100%;
}

.blueButton {
    width: 210px;
    height: 59px;
    background-color: #00bfff !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.container1 {
}

.container2 {
    height: 6rem;
    line-height: normal;
}

.temp-profile-asterisk {
    color: red;
}

.temp-profile-upload {
    margin-top: 20px;
    margin-left: 10px;
}

.dental-modal-clearButton {
    border: 1px solid white !important;
    color:white !important;
    box-shadow: none;
    padding: 10px 20px;
    border-radius: 0px !important ;
    background-color: transparent;
    width: 170px;
    height: 44px;
    margin-left: 7px !important;
    margin-right: 7px !important ;
    font-weight: 900px;
    font-size: 0.8rem;
  }