<div style='width: 95%; background: none #FFF; border: 3px solid #6fd4e3;'>
    <div style='width: 100%;'>

        <a href='http://23.239.7.243/' style='display: block; width: 153px;  margin: 0 auto; ' target='_blank' alt='Tempify' title='Dental Temping Simplified'>
            <img src='http://23.239.7.243/images/Tempify_resized.png' alt='Logo' style="width: 100%;margin-top: 0px;" />
        </a>
    </div>
    <div style='clear:both;'></div>
    <div style='background: #EEE; font-family: verdana; font-size: 13px; color: #333; padding: 15px; line-height: 25px; border-top: 1px solid #B6B6B6; border-bottom: 1px solid #6fd4e3;'>
        <p>Hi there,<p>

        <p>Due to some verification your account has been rejected by administrator. Please contact administrator to activate your account.<p>
        <p></p>
        <p>Thank you!<p>
        <p>The Tempify Team<p>
    </div>
    <table width="100%" border="0" style="border-collapse:collapse;border-spacing:0">
        <tbody><tr>
            <td style="margin:0;color:#999999;font-size:14px;line-height:20px;font-family:Arial,Helvetica,sans-serif;font-style:normal;font-weight:normal;text-align:center">Spread words about Tempify</td>
        </tr>
        <tr>
            <td style="line-height:0;font-size:0;vertical-align:top;padding:0px;text-align:left" height="10">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" align="center" style="padding:0 30px;text-align:center">
                <a style="padding-right:5px;padding-left:5px" href="https://www.facebook.com/tempify" target="_blank" >
                    <img src="http://23.239.7.243//images/fb.jpg" ></a>
                <a style="padding-right:5px;padding-left:5px" href="https://twitter.com/Tempify_co" target="_blank" >
                    <img src="http://23.239.7.243//images/twitter.jpg" class=""></a>
                <a style="padding-right:5px;padding-left:5px" href="https://www.instagram.com/tempify.co/" target="_blank" >
                    <img src="http://23.239.7.243//images/instagram.jpg" class="">
                </a>
            </td>
        </tr>
        </tbody></table>


    @if(isset($to))
        <div style='width: 100%; text-align: center'>

            <div style='background: #EEE; font-family: verdana; font-size: 13px; color: #333; padding: 15px; line-height: 25px; border-top: 1px solid #B6B6B6; border-bottom: 1px solid #6fd4e3;'>
                <p>
                    This email was sent to {{$to}}, because your email preferences are set to receive  Tempify updates. Click to
                    <a href="http://tempify.co/emailPreferences?q={{base64_encode(base64_encode(base64_encode($to)))}}"> unsubscribe</a>
                    .
                </p>
                <p>
                    This email was sent by Tempify.
                    <br>
                    All rights reserved. Copyright 2018 Temify
                </p>
            </div>
        </div>
    @endif
</div>
