@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
// @import '~@fullcalendar/timegrid/main.css';

.gigSelectorContainer {
  width: 80%;
  margin: 0 auto;
  height: 110px;
}

.fitSelectorContainer {
  padding-top: 5px;
  width: 80%;
  margin: 0 auto;
}