@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
// @import '~@fullcalendar/timegrid/main.css';

.fc {
    width: 60%;
}

.container {
    display: flex;
    flex-Direction: row;
    justify-content: center;
}