@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
// @import '~@fullcalendar/timegrid/main.css';

.fc {
}

.fc-event:hover .fc-content {
    border-color: #1c7d87;
    background-color: red;
    color: white;
    cursor: pointer;
}

.outerContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.legend-container {
  display: flex;
}

.pendingBox {
  height: 15px;
  width: 15px;
  background-color: green;
  margin-right: 6px;
}

.pending {
  margin-right: 20px;
}

.acceptedBox {
  height: 15px;
  width: 15px;
  background-color: yellow;
  margin-right: 6px;
}

.accepted {
  margin-right: 20px;
}

.completedBox {
  height: 15px;
  width: 15px;
  background-color: red;
  margin-right: 6px;
}

.calendar-card-container {
  display: flex;
}
