.tableWrapper {
    height: 100vh;
    overflow: auto;
    padding: 5rem;
}

.headerFont {
    font-size: 12pt !important;
}

.cellFont {
    font-size: 11pt !important;
}

.temp-data-blueButton {
    width: 250px;
    height: 44px !important;
    background-color: #00bfff !important;
    margin: 1rem !important;
}