.tempdashboard-username {
  margin-left:20px;
}

.options {
  padding-top: 5rem;
}


.buttons{
  height: 3rem;
  /* width: 30rem !important; */
}

.tempButton {
  font-weight: bold !important;
  background-color: #00bfff !important;
  color: white !important;
  width: 170px;
}

.activeButton {
  font-weight: bold !important;
  background-color: #404040 !important;
  color: white !important;
  width: 170px;
}

body{
  overflow-x:hidden;
}