.tempdashboard-username {
  margin-left: 20px;
}

.options {
  padding-top: 5rem;
}

.buttons {
  height: 3rem;
  /* width: 30rem !important; */
}

.tempButton {
  font-weight: bold !important;
  background-color: #00bfff !important;
  color: white !important;
  width: 170px;
}

.activeButton {
  font-weight: bold !important;
  background-color: #3e415c !important;
  color: white !important;
  width: 170px;
}

body {
  overflow-x: hidden;
}

.tempDashboardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tempDateboardOuterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}
