<div style='width: 95%; background: none #FFF; border: 3px solid #6fd4e3;'>
    <div style='width: 100%;'>
        <a href='http://23.239.7.243/' style='display: block; width: 153px;  margin: 0 auto; ' target='_blank' alt='Tempify' title='Dental Temping Simplified'>
            <img src='http://23.239.7.243/images/Tempify_resized.png' alt='Logo' style="width: 100%;margin-top: 0px;" />
        </a>
    </div>
    <div style='clear:both;'></div>
    <div style='background: #EEE; font-family: verdana; font-size: 13px; color: #333; padding: 15px; line-height: 25px; border-top: 1px solid #B6B6B6; border-bottom: 1px solid #6fd4e3;'>
        <p>From : {{contactName}}<p>
        <p>Email : {{contactEmail}}<p>
        <p>Message : {{contactMessage}}<p>
        <p></p>
        <p>Thank you!<p>

    </div>
</div>