.datatable{
    margin: 10rem !important;
    white-space: pre-line;
}

th {
    font-weight: bold !important;
    font-size: 15pt !important;
}

td {
    font-size: 13pt !important;
}

.select {
    background-color: #00bfff !important;
    color: white !important;
    width: 8rem;
}