.AboutHeader{
    padding-top:5rem;
    font-weight: bold !important;
}

.AboutContent{
    display: block;
    width: 80%;
    border-bottom: 2px solid rgb(207, 205, 205);
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.bottomAboutContent{
    width: 80%;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.bold{
    font-weight: bold;
}